<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
						   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
						   http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/task/spring-context-3.0.xsd">

    <!-- JPA Configurations -->
    <jee:jndi-lookup id="myDataSource" jndi-name="jdbc/tomcatDataSource" lookup-on-startup="false"
                     proxy-interface="javax.sql.DataSource"/>

    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"/>-->

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceProviderClass" value="org.hibernate.ejb.HibernatePersistence"/>
        <property name="dataSource" ref="myDataSource"/>
        <property name="persistenceUnitName" value="currencyExchangePU"/>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />

    </bean>

    <bean id="userManager" class="currencyexchange.service.UserManagerImpl" >
        <qualifier value="userQ"/>
    </bean>

    <bean id="orderService" class="currencyexchange.service.OrderServiceImpl" >
        <qualifier value="recordS"/>
    </bean>

    <bean id="exchangeTransactionService" class="currencyexchange.service.ExchangeTransactionServiceImpl" >
        <qualifier value="transactionS"/>
    </bean>

    <bean id="userDAO" class="currencyexchange.repository.UserDAOImpl">
        <qualifier value="userDQ"/>
    </bean>

    <bean id="orderDAO" class="currencyexchange.repository.OrderDAOImpl" >
        <qualifier value="recordD"/>
    </bean>

    <bean id="transactionDAO" class="currencyexchange.repository.ExchangeTransactionDAOImpl" >
        <qualifier value="transactionD"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <qualifier value="ses"/>
        <property name="dataSource" ref="myDataSource"></property>
        <property name="configLocation">
            <value>classpath:hibernate.xml</value>
        </property>
    </bean>

    <tx:annotation-driven />
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>



    <jpa:repositories base-package="currencyexchange.repository"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>

</beans>